/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif, 'Roboto'
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Josefin Sans', sans-serif, 'Roboto'
  ;
}
